{% extends 'root.html' %}
{% block content %}
    <!-- Messages -->
    {% include 'django_newsletter/dynamic_blocks/messages.html' with messages=messages %}

    <div class="d-flex flex-column height-screen-height mb-4">
        <!-- Navbar -->
        {% include 'django_newsletter/static_blocks/navbar.html' %}
        <!-- Main banner -->
        {% include 'django_newsletter/static_blocks/main_banner.html' %}
    </div>

    <!-- Did you know -->
    {% include 'django_newsletter/static_blocks/did_you_know.html' %}

    <!-- Features -->
    {% include 'django_newsletter/static_blocks/features.html' %}

    <div class="container
            d-flex flex-column
            p-3 mx-auto m-5" id="newsletter">
        <h5 class="display-6 mb-4">Try Newsletter</h5>
        <div class="row row-cols-1 row-cols-lg-2">
            <!-- TRY NEWSLETTER INFO-->
            {% include "django_newsletter/static_blocks/try_newsletter_info.html" %}

            <!-- Form -->
            {% include 'django_newsletter/dynamic_blocks/join_form.html' with form=form %}
        </div>
    </div>

    <!-- Footer -->
    {% include 'django_newsletter/static_blocks/footer.html' %}

    <script>
        (function setProperUrlAnchor(){
            const shouldScrollToNewsletter = document.getElementsByClassName("invalid-feedback")[0] !== undefined
            if (shouldScrollToNewsletter === true){
                window.history.pushState(NaN, NaN, "#newsletter");
                return
            }
            // Remove anchors
            let isAnchorRe = /#.+$/
            if (location.href.match(isAnchorRe)) window.history.pushState(NaN, NaN, "#");
        })()
    </script>
{% endblock %}