{% extends 'root.html' %}
{% block content %}
    <!-- Messages -->
    {% include 'django_newsletter/blocks/messages.html' with messages=messages %}
    <div class="d-flex flex-column height-screen-height mb-4">
        <!-- Navbar -->
        {% include 'django_newsletter/blocks/navbar.html' %}
        <!-- Main banner -->
        {% include 'django_newsletter/blocks/main_banner.html' %}
    </div>

    <!-- Did you know -->
    {% include 'django_newsletter/blocks/did_you_know.html' %}

    <!-- Features -->
    {% include 'django_newsletter/blocks/features.html'%}

    <!-- Form -->
    {% include 'django_newsletter/blocks/join_form.html' with form=form %}
{% endblock %}