<div class="container-fluid bg-dark shadow py-3" id="learn_more">
    <div class="container text-center text-white mt-2 p-4">
        <h2 class="display-5 mb-4">Newsletter features</h2>
        <div class="row row-cols-1 row-cols-lg-3 g-4 mb-4">
            <!-- Feature box - Membership -->
            <div class="col d-flex flex-grow-1">
                <article class="d-flex flex-column flex-grow-1
                                bg-secondary bg-opacity-10
                                py-2 px-4
                                border rounded">
                    <i class="bi bi-person-check
                          display-2 text-danger" ></i>

                    <h5 class="display-6 mt-3 opacity-75 text-danger">Membership</h5>
                    <section class="mt-2 mb-2">
                        <ul class="list-unstyled px-4">
                            <li class="pb-2">Email confirmation requirement</li>
                            <li class="pb-2">Auto delete not-confirmed emails</li>
                            <li class="pb-2">Easy way to leave newsletter</li>
                            <li class="pb-2">Black and White list for email suffix</li>
                        </ul>
                    </section>
                </article>
            </div>


            <!-- Feature box - Scheduling mails -->
            <div class="col d-flex flex-grow-1">
                <article class="d-flex flex-column flex-grow-1
                                bg-secondary bg-opacity-10
                                py-2 px-4
                                border rounded">
                    <i class="bi bi-calendar-day
                          display-2 text-warning" ></i>

                    <h5 class="display-5 mt-3 opacity-75 text-warning">Scheduling mails</h5>
                    <section class="mt-2 mb-2">
                        <ul class="list-unstyled">
                            <li class="pb-2">To specific date</li>
                            <li class="pb-2">To specific day period from join</li>
                            <li class="pb-2">Send in cron period</li>
                            <li class="pb-2">Remainder mail for users who not confirm email</li>
                        </ul>
                    </section>
                </article>
            </div>

            <!-- Feature box - Mail features -->
            <div class="col d-flex flex-grow-1">
                <article class="d-flex flex-column flex-grow-1
                                bg-secondary bg-opacity-10
                                py-2 px-4
                                border rounded">
                    <i class="bi bi-envelope
                          display-2 text-primary" ></i>

                    <h5 class="display-6 mt-3 opacity-75 text-primary">Mail features</h5>
                    <section class="mt-2 mb-2">
                        <ul class="list-unstyled">
                            <li class="pb-2">Mail template</li>
                            <li class="pb-2">Html mail support</li>
                        </ul>
                    </section>
                </article>
            </div>
        </div>
    </div>
</div>
