<div class="container-fluid
            d-flex flex-column flex-grow-1
            justify-content-center
            bg-dark shadow
            pt-3 pb-5">
    <div class="row">
        <div class="col text-center">
            <h1 class="text-light display-1 pre-line"> Django
                Newsletter
            </h1>
        </div>
    </div>

    <div class="d-flex justify-content-center pt-4 pb-4">
        <a href="#newsletter" class="btn btn-success mx-3" role="button"> Try Newsletter </a>
        <a href="#learn_more" class="btn btn-danger mx-3" role="button">Learn More</a>
    </div>
</div>